nuscenes-devkit
torch
torchvision
Pillow
requests
httpx
openai
pandas
transformers @ git+https://github.com/huggingface/transformers.git@main
evaluate
rouge_score
accelerate
peft
bitsandbytes
pyarrow<21
